
.container{
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width:100%;
}

h1 {
	font-family: 'Pacifico', cursive;
	color: #FFD700;
	border: 5px double grey;
	border-radius: 100px;
	background-color: red;
	padding-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	font-weight: bolder;
	text-align: center;
	font-size: 175px;	
}

#search { 
	background-color:red;
	border-style: inset;
	border-color: grey;
}

.boxes {
	display: inline-block;
	padding: 10%;
	text-align: center;
	background-color: grey;
	margin: 10px;
}

.collapsible{
	margin: 10px;
}


/*-----------Media Queries-------------- */

@media #{$small-and-down} {
    /* styles for small screens and down*/
}
@media #{$medium-and-up} {
    /* styles for medium screens and larger*/
}
@media #{$medium-and-down} {
    /* styles for medium screens and down*/
}
@media #{$large-and-up} {
    /*styles for large screens and up*/
}









