.container{
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width:100%;
}

#firstRow {
	margin-top: 5%;
}

h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 200px;
	color: #4d2800;
	background: rgba(255,238,204, 0.6);
	border: 20px double #4d2800;
	border-radius:150px;
	padding-top: 25px;
	padding-bottom: 30px;
	margin-right: 425px;
	margin-left: 425px;
}

nav{
	background: rgba(77,40,0, 0.6);
    border: 10px double #ffeecc;
}

nav:hover{
	background: rgba(255,238,204, 0.6);
    border: 10px double #4d2800;
}

i.material-icons {
	color: #ffeecc;	
}

.btn-large {
	color: #ffeecc;
	background: rgba(77,40,0, 0.6);
    border: 10px double #ffeecc;
}

.btn-large:hover {
	background: rgba(255,238,204, 0.6);
	color: #4d2800;
	border: 10px double #4d2800;
}

i.material-icons:hover {
	color: #4d2800;
}

.btn-large:hover .material-icons {
	color: #4d2800;
}

nav:hover .material-icons {
	color: #4d2800;
}

/*-----------------------------------------------------------*/


/*deleted items to match what lance has on his css, pg 2*/
.boxes {	
	text-align: center;
	display: inline;		
}
.row {
	margin-left: 5px;
	margin-right: 5px;
}

.collapsible{
	margin: 10px;
}

.foodPic {
	max-height: 100%;
	height: 300px;
    width: 350px;
   	overflow: auto;
}

.collapsible-body{
	background: #ffeecc;
}
 
iframe{
	width: 600px;
	height: 400px;
	max-width: 100%;
	position: center;
	display: block;
    margin: 0 auto;
    margin-top:5px;
}

h3 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	float: left;
	margin-left: 5px;
	color: #ffeecc;
	background: rgba(77,40,0, 0.6);
    border: 10px double #ffeecc;
	border-radius:150px;
	padding: 12px 30px;
}	

#searchAgain {
	color: #ffeecc;
	background: rgba(77,40,0, 0.6);
    border: 10px double #ffeecc;
    float: right;
    margin-right: 2%;
    margin-top: 20px;
}

#searchAgain:hover {
	background: rgba(255,238,204, 0.6);
	color: #4d2800;
	border: 10px double #4d2800;
	opacity: .50;
}

#page2 {
	background-color: #ffeecc;
	background-image: url("assets/images/kitchen1.jpg");
}

#image {
	clear: left;
	color: #ffeecc;
	background: rgba(77,40,0, 0.6);
    border: 10px double #ffeecc;
    padding-bottom: 15px;
}
span {
	font-weight: bold;
	font-size: 25px;
	color: #4d2800;

}
#recipe {
	color: #4d2800;
	/*background: rgba(255,238,204, 0.6);
	border: 10px double #4d2800;*/
    padding-top: 30px;
}

#instructionsArea {
	text-align: justify;
	color: #4d2800;
	background: rgba(255,238,204, 0.6);
	border: 10px double #4d2800;
	padding: 30px 20px 20px 20px;
}
#addtoDoNotes {
	margin-left: 15px;
	margin-bottom: 10px;
	color: #ffeecc;
	background: rgba(77,40,0, 0.6);
    border: 5px double #ffeecc;
}

#addtoDoNotes:hover {
	background: rgba(255,238,204, 0.6);
	color: #4d2800;
	border: 5px double #4d2800;
}    

.imgfoodPic {
	max-width: 100%;
	width: 150px;
    height: 100px;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.collapsible-header {
	color: #ffeecc;
	background: rgba(77,40,0, 0.6);
}

.collapsible-header:hover {
	background: rgba(255,238,204, 0.6);
	color: #4d2800;
}
.collapsible-header:hover .material-icons {
	color: #4d2800;
}	
