
/*deleted   .body{}*/

.container{
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width:100%;
}

/*deleted   margin:; and margin-top: 50px;*/
h1 {
	font-family: 'Pacifico', cursive;
	color: #FFD700;
	border: 5px double grey;
	border-radius: 100px;
	background-color: red;
	padding-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	font-weight: bolder;
	text-align: center;
	font-size: 175px;	
}

/*deleted  h3{}, nav{}, .material-icons{}  */

#search { 
	background-color:red;
	border-style: inset;
	border-color: grey;
}

/*deleted items to match what lance has on his css, pg 2*/
.boxes {
	
	text-align: center;
	
}

.collapsible{
	margin: 10px;
}
.foodPic{
	height: 200px;
    width: 350px;
}
.collapsible-body{
	background: white;
}
 
/*-----------Media Queries commented out-------------- */

/*@media #{$small-and-down} {
    /* styles for small screens and down*/
/*}
@media #{$medium-and-up} {
     styles for medium screens and larger
}*/
/*@media #{$medium-and-down} {*/
    /* styles for medium screens and down*/
}
/*@media #{$large-and-up} {
*/    /*styles for large screens and up*/
}









