 

 .spoonacular-salmon{color:#e76182}
.spoonacular-blue{color:#269fca}
.spoonacular-quickview{font-size:14px;display:inline-block;padding:5px 10px;border:1px solid #333;margin-right:6px;font-weight:bold}
.spoonacular-caption{font-weight:bold;margin-top:12px;font-size:16px;margin-bottom:6px}
.spoonacular-nutrition-visualization-bar{display:inline-block;height:12px;max-width:calc(100% - 70px);max-width:-webkit-calc(100% - 70px);max-width:-moz-calc(100% - 70px);max-width:-o-calc(100% - 70px)}
.spoonacular-nutrition-visualization-bar.spoonacular-salmon{background-color:#e76182}
.spoonacular-nutrition-visualization-bar.spoonacular-blue{background-color:#269fca}
.spoonacular-nutrition-visualization-bar-number{display:inline-block;margin-left:12px}
.spoonacular-nutrient-name{display:inline-block;width:114px;font-size:14px}
.spoonacular-nutrient-value{display:inline-block;width:75px;font-size:14px}
.spoonacularNutritionCompositionChart {
	display: inline-block;
	z-index: 99999;
}
.spoonacularNutritionCompositionChart .canvasjs-chart-canvas {
	border: 1px solid #333;
	padding: 10px;
}
